<h2>List of ratings</h2>

Most recent ratings

<ul>
    <% @recent_ratings.each do |rating| %>
        <li> <%= rating %>, by: <%= link_to rating.user.username, rating.user %> 
        </li>
    <% end %>
</ul>

Top beers

<%= render 'beers/list', beers: @beers %>

Top breweries

<%= render 'breweries/list', breweries: @breweries %>

Top styles

<%= render 'styles/list', styles: @styles %>

Most active users

<%= render 'users/list', users: @users %>

<%= link_to 'New rating', new_rating_path, class:"btn btn-primary" if current_user %>
