<h1>Beerclubs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= link_to 'Name', beerclubs_path(order:"name") %> </th>
      <th> <%= link_to 'Founded', beerclubs_path(order:"founded") %> </th>
      <th> <%= link_to 'City', beerclubs_path(order:"city") %> </th>
    </tr>
  </thead>

  <tbody>
    <% @beerclubs.each do |beerclub| %>
      <tr>
        <td><%= link_to beerclub.name, beerclub %></td>
        <td><%= beerclub.founded %></td>
        <td><%= beerclub.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beerclub', new_beerclub_path, class:"btn btn-primary" if current_user %>
