<p>
  <strong>Name:</strong>
  <%= @beerclub.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beerclub.city %>
</p>

<p>
  <% if @beerclub.users.empty? %>
    <strong>No members yet</strong>
  <% else %>
    <strong>Members:</strong>
    <% @beerclub.users.each do |user| %>
      <%= link_to user.username, user %>
    <% end %>
  <% end %>
</p>

<% if current_user %>
  <p>
  <% if current_user.beerclubs.any? && current_user.beerclubs.find(@beerclub.id) %>
    You are member of this club.
    <%= form_for(current_user.memberships.find_by(beerclub_id: @beerclub.id), method: "delete") do |f| %>
      <%= f.hidden_field :beerclub_id %>
      <%= f.submit value: "end the membership", class:"btn btn-danger" %>
    <% end %>
  <% else %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beerclub_id %>
      <%= f.submit value:"join the club", class:"btn btn-primary" %>
    <% end %>
  <% end %>
  </p>
<% end %>

<%= edit_and_destroy_buttons(@beerclub) %>

<%= link_to 'Back', beerclubs_path, class:"btn btn-primary" %>
