<!DOCTYPE html>
<html>
  <head>
    <title>Ratebeer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navibar">
      <%= link_to 'breweries', breweries_path %>
      <%= link_to 'beers', beers_path %>
      <%= link_to 'ratings', ratings_path %>
      <%= link_to 'beer clubs', beerclubs_path %>
      <%= link_to 'beer places', places_path %>
      <% if current_user %>
        <%= current_user.username %> signed in
        <%= link_to 'Join a club', new_membership_path %>
        <%= link_to 'Sign out', signout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_session_path %>
        <%= link_to 'Sign up', new_user_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
